# KiCad
hardware/rpi-pico-drum-backups
*.bak
*.FCStd1
*.sch-bak
fp-info-cache

# Pico SDK (https://github.com/raspberrypi/pico-sdk)
pico-sdk
generated
elf2uf2
*.dis
*.bin
*.uf2
build
*.pio.h
pioasm

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
